.mainBox{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.appointmentBox{
    width: 75vw;
    height: 100vh;
    overflow-y: auto;
    color: white;
}

.sidebarBox{
    width: 25vw;
    height: 100vh;
}

#id0{
    border: 1px solid;
    margin-top: 40px;
}

.row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 98%;
    height: min-content;
    border: 1px solid;
    margin-bottom: 20px;
}

.lastRow{
    justify-content: left;
    align-items: left;
    margin-left: 1.2vw;
}

.listItem{
    width: 35vw;
    height: min-content;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 1vw;
    background-color: #2192FF;
    border-radius: 7px;
    cursor: pointer;
}

.topBar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detailBox{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.description{
    width: 60%;
}

.profilePic{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
}

.horizontalRule{
    width: 97%;
    background-color: white;
    border: none;
    height: 2px;
}