.mainContainer{
  width: 100vw;
  height: 100vh;

  align-items: center;
  overflow-y: auto;
}
.navbar{
  display: flex;
  width: 100%;
  height: 90px;
  background-color: #D800A6;
  justify-content: space-between;
  align-items: center;
}

.logoContainer{
  width: 250px;
  height: 90px;
}

.logo{
  width: 100%;
  height: 100%;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.loginButton{
  width: 100px;
  height: 40px;
  border-radius: 7px;
  border: none;
  margin-right: 20px;
  cursor: pointer;
  background-color: black;
  color: white;
  font-weight: bold;
  transition: width height 1s ease-out 50ms;
  transition-duration: 300ms;
}
.loginButton:hover{
  width: 120px;
  height: 50px;
}

.signupButton{
  width: 100px;
  height: 40px;
  border-radius: 7px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
  background-color: white;
  font-weight: bold;
  transition: width height 1s ease-out 50ms;
  transition-duration: 300ms;
}

.signupButton:hover{
  width: 120px;
  height: 50px;
}

.middleContainer{
  display: flex;
  width: 100%;
  height: 560px;
  background-image: url('/hospital3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: right;
  align-items: center;
}

.contentBox{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 28px;
}

.buttonContainer{
  margin-top: 50px;
}

.departmentButton{
  width: 150px;
  height: 40px;
  border: none;
  margin-right: 30px;
  cursor: pointer;
  color: white;
  background-color: #083AA9;
  transition: width height font-size 1s ease-out 50ms;
  transition-duration: 300ms;
}
.departmentButton:hover{
  width: 180px;
  height: 50px;
  font-size: 16px;
  background-color: #002E94;
}

.appointmentButton{
  width: 150px;
  height: 40px;
  background: transparent;
  border: 1px solid blue;
  cursor: pointer;
  transition: width height font-size 1s ease-out 50ms;
  transition-duration: 300ms;
}
.appointmentButton:hover{
  width: 180px;
  height: 50px;
  font-size: 16px;
  background-color: white;
}

.bottomContainer{
  width: 100%;
  height: 500px;
  border: 1px solid;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #D800A6;
}

.bottomItem{
  width: 30%;
  height: 400px;
  border: 1px solid;
  background-color: white;
  padding: 0px 5px;
}

.headBar{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.icon{
  margin-right: 10px;
}

.horizontalLine{
  width: 95%;
  height: 1px;
  border: 1px solid;
}

.description{
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
}

.footer{
  background-color: black;
  color: white;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

