.mainBox{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.notificationBox{
    width: 75vw;
    height: 100vh;
}

.sidebarBox{
    width: 25vw;
    height: 100vh;
}

.outerContainer{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    overflow-y: auto;
}

.id1{
    margin-top: 20px;
}

.listItem{
    width: 50vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #DD5353;
    border-radius: 7px;
    margin-bottom: 20px;
    cursor: pointer;
    color: white;
    transition: width height 1s ease-out 50ms;
    transition-duration: 300ms;
}

.listItem:hover{
    width: 53vw;
    height: 45vh;
}

.description{
    width: 45vw;
    height: min-content;
}

.headbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notificationIcon{
    font-size: 28px;
    margin-left: 20vw;
}

.horizontalRule{
    width: 45vw;
    background-color: black;
    height: 2px;
}